<div class="h-full w-full flex flex-col">
    <div class="header border-b border-gray-400 p-4 flex justify-center items-center text-xl">
        Delivery Document
    </div>
    <div class="content flex-auto overflow-y-auto p-2">
        <div class="bg-gray-200 p-2">
            Uploading a document means the load has been successfully delivered. By confirming this action, the Delivery Document will be notified to the administrator. Would you like to continue ?
        </div>
        <form *ngIf="form" [formGroup]="form.formGroup" class="pt-2">
            <ng-container *ngFor="let section of form.sections">
                <cb-field (change)="onFileChange( $event, field )"  *ngFor="let field of section.fields" [field]="field" [group]="section.formGroup"></cb-field>
            </ng-container>
        </form>
    </div>
    <div class="footer p-2 flex justify-between border-t border-gray-400">
        <div></div>
        <div class="flex">
            <div class="ml-2">
                <button (click)="submitDocument()" class="outline-none rounded border border-green-600 p-2 text-green-600 flex items-center justify-center hover:text-white hover:border-green-600 hover:bg-green-600">
                    Confirm
                </button>
            </div>
            <div class="ml-2">
                <button (click)="cancel()" class="outline-none rounded border border-red-600 text-red-600 p-2 flex items-center justify-center">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>