<div fxFlex="auto" fxLayout="column">
    <div fxLayoutAlign="center center">
        <img [src]="tendoo.getAsset( 'assets/images/logo.png' )" style="width: 150px" alt="" srcset="">
    </div>
    <form [formGroup]="lostPasswordForm" (ngSubmit)="proceed()">
        <mat-card class="p-0">
            <mat-card-title class="p-3 pb-0">Password Lost</mat-card-title>
            <mat-card-content class="p-3 m-0">
                <p class="info">If you've lost your password, you can use the password recovery. 
                    This will send you an email, with the informations needed to reset your password.</p>
                <app-fields [group]="lostPasswordForm" *ngFor="let field of fields" [field]="field"></app-fields>
            </mat-card-content>
            <mat-divider *ngIf="! tendoo.auth.isLoading"></mat-divider>
            <mat-progress-bar *ngIf="tendoo.auth.isLoading" mode="indeterminate" style="height: 1px;position: absolute;left: 0;"></mat-progress-bar>
            <mat-card-actions class="p-2 m-0" fxLayoutAlign="space-between">
                <button [disabled]="tendoo.auth.isLoading" mat-button>Reset Password</button>
                <button [disabled]="tendoo.auth.isLoading" routerLink="/auth/login" mat-button>Login</button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>