<mat-card class="p-0" fxFlex>
    <mat-card-content fxLayout="row" fxFill>
        <div fxFlex="100px" fxLayoutAlign="center center" class="bg-content">
            <h1 class="mat-display-1 m-0">{{ currentProgress }}%</h1>
        </div>
        <div fxFlex="auto" fxLayout="column">
            <div class="p-2">
                <h2 class="mat-h2 m-0 mb-1">Uploading</h2>
            </div>
            <mat-divider [inset]="true" style="height: 1px"></mat-divider>
            <div class="p-2" fxFlex>
                <h4 class="mat-h4 m-0 mb-1">Progress {{ processedFiles }}/{{ totalFiles }}</h4>
                <span class="mat-body">Processing : {{ processing.name | truncateMiddle }}</span>
            </div>
            <mat-progress-bar mode="determinate" [value]="currentProgress"></mat-progress-bar>
        </div>
    </mat-card-content>
</mat-card>