<div fxFill fxLayoutAlign="center center" fxLayout="column" style="background:#333">
    <div fxFlex="300px" style="width: 250px">
        <mat-card fxFill class="p-0">
            <mat-card-content fxFill>
                <div fxFlex="auto" fxLayout="column">
                    <div fxFlex="auto" fxLayoutAlign="center center">
                        <div class="avatar-container" fxLayoutAlign="center center">
                            <img src="assets/images/avatar-placeholder.png" alt="" srcset="">
                        </div>
                    </div>
                    <mat-divider [inset]="true"></mat-divider>
                    <div fxLayout="row" fxFlex>
                        <div fxFlex fxLayoutAlign="center center">
                            A text here
                        </div>
                        <mat-divider [vertical]="true"></mat-divider>
                        <div fxFlex fxLayoutAlign="center center">
                            A text here
                        </div>
                    </div>
                    <mat-divider [inset]="true"></mat-divider>
                    <div fxLayout="row" fxFlex>
                        <div fxFlex fxLayoutAlign="center center">
                            A text here
                        </div>
                        <mat-divider [vertical]="true"></mat-divider>
                        <div fxFlex fxLayoutAlign="center center">
                            A text here
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>