:host {
    height: 100%;
}
.avatar-container {
    border-radius: 679px;
    width: 180px;
    height: 180px;
    overflow: hidden;
    border: solid 1px #333;
}
.avatar-container img {
    width: 250px;
}