// Import library functions for theme creation.
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-dialog-container {
    padding: 0 !important;
}

.text-center {
    text-align: center;
}

.bg-white {
    background: #FFF;
}

/**
 * Cursor Classes
**/
.cursor-pointer:hover {
    cursor: pointer;
}
dropzone[fxflex] > .dropzone.dz-wrapper {
    display: flex;
}