@import '~@angular/material/theming';
@import './scss/bootstrap.scss';
@include mat-core();

$custom-primary: mat-palette( $mat-purple );
$custom-accent: mat-palette( $mat-teal );
$custom-background: mat-palette( $mat-grey );
$custom-theme: mat-light-theme( $custom-primary, $custom-accent );

// Define a mixin that accepts a theme and outputs the theme-specific styles.
@mixin aside-menu-theme($theme) {
    // Extract the palettes you need from the theme definition.
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $background: map-get( $theme, background );
    
    .bg-primary {
        background-color: mat-color( $primary, 400 );
        color: #FFF;
    }
    .bg-content {
        background-color: mat-color( $custom-background, 200 );
        color: #333;
    }
}

@include angular-material-theme( $custom-theme );
@include aside-menu-theme( $custom-theme );