<div fxFlex="auto" fxLayout="column">
    <div fxLayoutAlign="center center">
        <img [src]="tendoo.getAsset( 'assets/images/logo.png' )" style="width: 150px" alt="" srcset="">
	</div>
	<div fxLayoutAlign="center center" *ngIf="! changePasswordForm">
		<mat-spinner mode="indeterminate" [diameter]="50"></mat-spinner>
	</div>
	<div fxLayoutAlign="center center" *ngIf="changePasswordForm">
		<form [formGroup]="changePasswordForm" (ngSubmit)="proceedPasswordChange()">
			<mat-card>
				<mat-card-title>Changing Password</mat-card-title>
				<mat-card-content>
					<app-fields *ngFor="let field of fields" [field]="field" [group]="changePasswordForm"></app-fields>
				</mat-card-content>
				<mat-divider></mat-divider>
				<mat-card-actions fxLayoutAlign="space-between">
					<button [disabled]="tendoo.auth.isLoading" mat-button>Submit</button>
					<button mat-button routerLink="/auth/login">Login</button>
				</mat-card-actions>
			</mat-card>
		</form>
	</div>
</div>