<div fxLayout="column" fxFlex>
    <div fxLayoutAlign="center center">
        <img src="assets/images/logo.png" style="width: 150px" alt="" srcset="">
    </div>
    <div>
        <mat-card>
            <mat-card-title>Welcome on Tendoo CMS</mat-card-title>
            <mat-card-content>
                Tendoo CMS is ready to be installed. Let's get started
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-actions>
                <a routerLink="/do-setup/database" mat-button>Database Configuration</a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>