<div fxLayout="column" fxFlex>
    <div fxLayoutAlign="center center">
        <img [src]="tendoo.getAsset( 'assets/images/logo.png' )" style="width: 150px" alt="" srcset="">
    </div>
    <div>
        <mat-card>
            <mat-card-title>Setup Wizard</mat-card-title>
            <mat-card-content>
                Welcome on the Cloud Breeze installation wizard. You'll now be able to install the system in 2 simples steps.
                Thank you for having choosed Cloud Breeze for your development.
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-actions>
                <a routerLink="/do-setup/database" mat-button>Get Started</a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>