<div fxLayout="column" class="bg-content" fxFlex="100%" style="overflow-y:auto">
    <mat-progress-bar color="warn" style="height: 2px; position: absolute" *ngIf="tendoo.users.isLoading" mode="indeterminate"></mat-progress-bar>
    <div fxLayout="row" class="p-3 pb-0">
        <div fxFlex>
            <h1 class="mat-display-1 mb-0">Users</h1>
            <span class="mat-title">create new users</span>
        </div>
        <div fxFlex="200px" fxLayoutAlign="end start">
            <button routerLink="/dashboard/users" mat-button color="warn">Back to users</button>
        </div>
    </div>
    <div class="p-3" fxLayout="row" fxFlex="1 0 auto" fxLayout="column">
        <mat-card>
            <mat-card-title>
                Create a new user
            </mat-card-title>
            <mat-card-content>
                <form [formGroup]="form" *ngIf="form">
                    <app-fields *ngFor="let field of fields" [field]="field" [group]="form"></app-fields>
                </form>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-actions>
                <button [disabled]="tendoo.isLoading" mat-button (click)="submit()" color="primary">Submit</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>