<div fxFlex="auto" FxLayout="column" fxLayoutAlign="center center">
	<div class="text-center" fxFlex.lg="80%" fxFlex.md="80%" fxFlex.xs="100%" fxFlex.sm="100%">
		<p class="mat-display-1 m-0 py-3">
			{{ data.title }}
		</p>
		<p class="mat-title">{{ data.message }}</p>
	</div>
</div>
<mat-divider></mat-divider>
<div fxLayout="row" fxFlex="50px" fxLayoutAlign="stretch stretch">
	<ng-container *ngFor="let button of data.buttons">
		<button (click)="handle( button )" fxFlex="auto" mat-button="">
			<span  class="mat-subheading-2">{{ button.label }}</span>
		</button>
		<mat-divider [vertical]="true"></mat-divider>
	</ng-container>
</div>