<div fxLayout="column" fxFlex="100%">
    <mat-progress-bar color="warn" style="height: 2px; position: relative;margin-bottom: -2px" *ngIf="tendoo.modules.isLoading" mode="indeterminate"></mat-progress-bar>
    <div fxLayout="row" class="bg-content p-3">
        <div fxFlex>
            <h1 class="mat-h1 mb-0">Modules</h1>
            <span>Display and manage all available modules</span>
        </div>
        <div fxFlex="200px" fxLayoutAlign="end start">
            <button routerLink="/dashboard/modules/upload" mat-button color="warn">Upload a module</button>
        </div>
    </div>
    <div class="p-3 pt-0 bg-content" fxFlex fxLayoutGap="3em">
        <div 
            style="height:150px"
            *ngFor="let module of modules"
            fxFlex.xs="100%" 
            fxFlex.sm="50%" 
            fxFlex.md="50%" 
            fxFlex.lg="25%" 
            fxFlex.xl="20%">
            <mat-card>
                <mat-card-title>
                    <h2 class="mat-h2">{{ module.name }}</h2>
                </mat-card-title>
                <mat-card-content style="height: 50px;">{{ module.description }}</mat-card-content>
                <mat-divider
                    *ngIf="! isLoading"></mat-divider>
                <mat-progress-bar color="warn" style="height: 1px; position: absolute;left:0" 
                    *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
                <mat-card-actions>
                    <div fxFill fxLayout="row" fxLayoutAlign="space-between" fxFlex="0 0 auto">
                        <ng-container>
                            <button class="m-0" [disabled]="isLoading" [matMenuTriggerFor]="moduleMenu" mat-button color="primary">Options</button>
                            <mat-menu #moduleMenu="matMenu">
                                <button [routerLink]="'/dashboard/modules/details/' + module.namespace" mat-menu-item>Details</button>
                                <button (click)="download( module )" mat-menu-item>Download</button>
                                <button (click)="delete( module )" mat-menu-item>Delete</button>
                            </mat-menu>
                        </ng-container>
                        <button class="m-0" [disabled]="isLoading" *ngIf="module.enabled" (click)="setStatus( module, 'disable' )"  mat-button color="primary">Disable</button>
                        <button class="m-0" [disabled]="isLoading" *ngIf="! module.enabled" (click)="setStatus( module, 'enable' )"  mat-button color="accent">Enable</button>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
        <div *ngIf="modules.length === 0" fxFlex fxFill fxLayoutAlign="center center">
            <span>No module has been added yet. <a routerLink="/dashboard/modules/upload"   >Upload a module ?</a></span>
        </div>
    </div>
</div>