<form [formGroup]="loginForm">
    <mat-card color="primary">
        <mat-card-title>Authenticating</mat-card-title>
        <mat-card-content>
            <app-fields [field]="field" [group]="loginForm" *ngFor="let field of fields"></app-fields>
            <p *ngIf="notice === 'from-registration'" class="registration-notice">Your account has been created, but require activation, please consider checking your email to proceed with the validation.</p>
        </mat-card-content>
        <mat-divider *ngIf="!tendoo.isLoading"></mat-divider>
        <mat-progress-bar *ngIf="tendoo.auth.isLoading" mode="indeterminate" style="height: 1px;position: absolute;left: 0;"></mat-progress-bar>
        <mat-card-actions fxLayoutAlign="space-between">
            <button [disabled]="tendoo.auth.isLoading" (click)="login()" mat-button="">
                Login
            </button>
            <button [disabled]="tendoo.auth.isLoading" routerLink="/auth/register" mat-button="">
                Register
            </button>
        </mat-card-actions>
    </mat-card>
</form>