<div fxFlex fxLayout="column" fxLayoutAlign="center center" *ngIf="isLoading">
    <div fxLayoutAlign="center center">
        <img [src]="tendoo.getAsset( 'assets/images/logo.png' )" style="width: 150px" alt="" srcset="">
    </div>
    <div fxLayoutAlign="center center">
        <mat-spinner mode="indeterminate" diameter="50"></mat-spinner>
    </div>
</div>
<form [formGroup]="loginForm" *ngIf="loginForm">
    <div fxLayout="column" fxFlex>
        <div fxLayoutAlign="center center">
            <img [src]="tendoo.getAsset( 'assets/images/logo.png' )" style="width: 150px" alt="" srcset="">
        </div>
        <div *ngIf="! isLoading">
            <mat-card color="primary">
                <mat-card-title>Authenticating</mat-card-title>
                <mat-card-content>
                    <ng-container>
                        <p *ngIf="notice === 'from-registration'" class="registration-notice m-0">Your account has been created, but require activation, please consider checking your email to proceed with the validation.</p>
                        <cb-field [field]="field" [group]="loginForm" *ngFor="let field of fields"></cb-field>
                    </ng-container>
                </mat-card-content>
                <mat-divider *ngIf="!tendoo.isLoading"></mat-divider>
                <mat-progress-bar *ngIf="tendoo.auth.isLoading" mode="indeterminate" style="height: 1px;position: absolute;left: 0;"></mat-progress-bar>
                <mat-card-actions fxLayoutAlign="space-between">
                    <button [disabled]="tendoo.auth.isLoading" (click)="login()" mat-button="">
                        Login
                    </button>
                    <button [disabled]="tendoo.auth.isLoading" routerLink="/auth/register" mat-button="">
                        Register
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div fxLayoutAlign="center center" class="mt-3">
            <a routerLink="/auth/lost-password"><small>Lost password ?</small></a>
            <span style="margin:0 10px">|</span>
            <a routerLink="/auth/request-activation"><small>Not Activated ?</small></a>
        </div>
    </div>
</form>