<form [formGroup]="loginForm">
    <mat-card>
        <mat-card-title>Authenticating</mat-card-title>
        <mat-card-content>
            <app-fields [field]="field" [group]="loginForm" *ngFor="let field of fields"></app-fields>
        </mat-card-content>
        <mat-divider *ngIf="!tendoo.isLoading"></mat-divider>
        <mat-progress-bar *ngIf="tendoo.auth.isLoading" mode="indeterminate" style="height: 1px;position: absolute;left: 0;"></mat-progress-bar>
        <mat-card-actions>
            <button [disabled]="tendoo.auth.isLoading" (click)="login()" mat-button="">
                Login
            </button>
        </mat-card-actions>
    </mat-card>
</form>