<form [formGroup]="applicationForm">
    <mat-card>
        <mat-card-title>Configuring Application</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
            <p style="margin: 30px 0 20px">The connexion with the database is successful. Now we need to setup the admin account.</p>
            <app-fields [field]="field" [group]="applicationForm" *ngFor="let field of fields"></app-fields>
        </mat-card-content>
        <mat-divider *ngIf="! setup.isLoading"></mat-divider>
        <mat-progress-bar *ngIf="setup.isLoading" mode="indeterminate" style="height: 1px;position: absolute;left: 0;"></mat-progress-bar>
        <mat-card-actions>
            <button [disabled]="setup.isLoading" (click)="setupApplication()" mat-button>Setup Application</button>
        </mat-card-actions>
    </mat-card>
</form>