<div fxFill fxFlex="column" class="bg-content" fxLayout="row">
    <div fxFlex class="p-3" fxLayout="row">
        <div fxFill fxLayout="row">
            <!-- Profile Card -->
            <div 
                fxFlex.xs="100%" 
                fxFlex.sm="50%" 
                fxFlex.md="50%" 
                fxFlex.lg="25%" 
                fxFlex.lg="25%" 
                >
                <mat-card 
                    
                    class="p-0">
                    <mat-card-content fxFill>
                        <div fxFlex="auto" fxLayout="column">
                            <div fxFlex="auto" class="p-3" fxLayoutAlign="center center" fxLayout="column">
                                <div class="avatar-container" fxLayoutAlign="center center">
                                    <img [src]="tendoo.getAsset( 'assets/images/avatar-placeholder.png' )" alt="" srcset="">
                                </div>
                                <h1 class="mat-h1 mt-2 mb-0">{{ tendoo.auth.getUser().username | titlecase }}</h1>
                            </div>
                            <mat-divider [inset]="true"></mat-divider>
                            <div fxLayout="row" fxFlex class="p-3">
                                <div fxFlex fxLayoutAlign="center center">
                                    <a routerLink="/dashboard/profile">Profile</a>
                                </div>
                                <mat-divider [vertical]="true"></mat-divider>
                                <div fxFlex fxLayoutAlign="center center">
                                    <a routerLink="/dashboard/profile/apps">My Applications</a>
                                </div>
                            </div>
                            <!-- <mat-divider [inset]="true"></mat-divider>
                            <div fxLayout="row" fxFlex>
                                <div fxFlex fxLayoutAlign="center center">
                                    <a routerLink="/dashboard/profile/apps">My Applications</a>
                                </div>
                                <mat-divider [vertical]="true"></mat-divider>
                                <div fxFlex fxLayoutAlign="center center">
                                    <a routerLink="/logout">Logout</a>
                                </div>
                            </div> -->
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <!-- End Profile Card -->
        </div>
    </div>
</div>