@import './assets/fonts/fonts.css';
@import './assets/fonts/material-font.css';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/* You can add global styles to this file, and also import other style files */
.brookr-font {
    font-family: 'Titillium Web', sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }          

mat-card.p-0 {
    padding: 0 !important;
}

mat-card-title.mb-0 {
    margin-bottom: 0px;
}
.mat-dialog-container {
    padding: 0 !important;
}