@media (min-width: 1920px) and (max-width: 5000px) {
  .m-0 {
    margin: 0em;
  }
  .ml-0 {
    margin-left: 0 !important;
  }
  .mt-0 {
    margin-top: 0 !important;
  }
  .mb-0 {
    margin-bottom: 0 !important;
  }
  .mr-0 {
    margin-right: 0 !important;
  }
  .p-0 {
    padding: 0em;
  }
  .pl-0 {
    padding-left: 0 !important;
  }
  .pt-0 {
    padding-top: 0 !important;
  }
  .pb-0 {
    padding-bottom: 0 !important;
  }
  .pr-0 {
    padding-right: 0 !important;
  }
  .m-1 {
    margin: 1.5em;
  }
  .ml-1 {
    margin-left: 1.5em !important;
  }
  .mt-1 {
    margin-top: 1.5em !important;
  }
  .mb-1 {
    margin-bottom: 1.5em !important;
  }
  .mr-1 {
    margin-right: 1.5em !important;
  }
  .p-1 {
    padding: 1.5em;
  }
  .pl-1 {
    padding-left: 1.5em !important;
  }
  .pt-1 {
    padding-top: 1.5em !important;
  }
  .pb-1 {
    padding-bottom: 1.5em !important;
  }
  .pr-1 {
    padding-right: 1.5em !important;
  }
  .m-2 {
    margin: 3em;
  }
  .ml-2 {
    margin-left: 3em !important;
  }
  .mt-2 {
    margin-top: 3em !important;
  }
  .mb-2 {
    margin-bottom: 3em !important;
  }
  .mr-2 {
    margin-right: 3em !important;
  }
  .p-2 {
    padding: 3em;
  }
  .pl-2 {
    padding-left: 3em !important;
  }
  .pt-2 {
    padding-top: 3em !important;
  }
  .pb-2 {
    padding-bottom: 3em !important;
  }
  .pr-2 {
    padding-right: 3em !important;
  }
  .m-3 {
    margin: 4.5em;
  }
  .ml-3 {
    margin-left: 4.5em !important;
  }
  .mt-3 {
    margin-top: 4.5em !important;
  }
  .mb-3 {
    margin-bottom: 4.5em !important;
  }
  .mr-3 {
    margin-right: 4.5em !important;
  }
  .p-3 {
    padding: 4.5em;
  }
  .pl-3 {
    padding-left: 4.5em !important;
  }
  .pt-3 {
    padding-top: 4.5em !important;
  }
  .pb-3 {
    padding-bottom: 4.5em !important;
  }
  .pr-3 {
    padding-right: 4.5em !important;
  }
  .m-4 {
    margin: 6em;
  }
  .ml-4 {
    margin-left: 6em !important;
  }
  .mt-4 {
    margin-top: 6em !important;
  }
  .mb-4 {
    margin-bottom: 6em !important;
  }
  .mr-4 {
    margin-right: 6em !important;
  }
  .p-4 {
    padding: 6em;
  }
  .pl-4 {
    padding-left: 6em !important;
  }
  .pt-4 {
    padding-top: 6em !important;
  }
  .pb-4 {
    padding-bottom: 6em !important;
  }
  .pr-4 {
    padding-right: 6em !important;
  }
}

@media (min-width: 1280px) and (max-width: 1919px) {
  .m-0 {
    margin: 0em;
  }
  .ml-0 {
    margin-left: 0 !important;
  }
  .mt-0 {
    margin-top: 0 !important;
  }
  .mb-0 {
    margin-bottom: 0 !important;
  }
  .mr-0 {
    margin-right: 0 !important;
  }
  .p-0 {
    padding: 0em;
  }
  .pl-0 {
    padding-left: 0 !important;
  }
  .pt-0 {
    padding-top: 0 !important;
  }
  .pb-0 {
    padding-bottom: 0 !important;
  }
  .pr-0 {
    padding-right: 0 !important;
  }
  .m-1 {
    margin: 1.5em;
  }
  .ml-1 {
    margin-left: 1.5em !important;
  }
  .mt-1 {
    margin-top: 1.5em !important;
  }
  .mb-1 {
    margin-bottom: 1.5em !important;
  }
  .mr-1 {
    margin-right: 1.5em !important;
  }
  .p-1 {
    padding: 1.5em;
  }
  .pl-1 {
    padding-left: 1.5em !important;
  }
  .pt-1 {
    padding-top: 1.5em !important;
  }
  .pb-1 {
    padding-bottom: 1.5em !important;
  }
  .pr-1 {
    padding-right: 1.5em !important;
  }
  .m-2 {
    margin: 3em;
  }
  .ml-2 {
    margin-left: 3em !important;
  }
  .mt-2 {
    margin-top: 3em !important;
  }
  .mb-2 {
    margin-bottom: 3em !important;
  }
  .mr-2 {
    margin-right: 3em !important;
  }
  .p-2 {
    padding: 3em;
  }
  .pl-2 {
    padding-left: 3em !important;
  }
  .pt-2 {
    padding-top: 3em !important;
  }
  .pb-2 {
    padding-bottom: 3em !important;
  }
  .pr-2 {
    padding-right: 3em !important;
  }
  .m-3 {
    margin: 4.5em;
  }
  .ml-3 {
    margin-left: 4.5em !important;
  }
  .mt-3 {
    margin-top: 4.5em !important;
  }
  .mb-3 {
    margin-bottom: 4.5em !important;
  }
  .mr-3 {
    margin-right: 4.5em !important;
  }
  .p-3 {
    padding: 4.5em;
  }
  .pl-3 {
    padding-left: 4.5em !important;
  }
  .pt-3 {
    padding-top: 4.5em !important;
  }
  .pb-3 {
    padding-bottom: 4.5em !important;
  }
  .pr-3 {
    padding-right: 4.5em !important;
  }
  .m-4 {
    margin: 6em;
  }
  .ml-4 {
    margin-left: 6em !important;
  }
  .mt-4 {
    margin-top: 6em !important;
  }
  .mb-4 {
    margin-bottom: 6em !important;
  }
  .mr-4 {
    margin-right: 6em !important;
  }
  .p-4 {
    padding: 6em;
  }
  .pl-4 {
    padding-left: 6em !important;
  }
  .pt-4 {
    padding-top: 6em !important;
  }
  .pb-4 {
    padding-bottom: 6em !important;
  }
  .pr-4 {
    padding-right: 6em !important;
  }
}

@media (min-width: 960px) and (max-width: 1279px) {
  .m-0 {
    margin: 0em;
  }
  .ml-0 {
    margin-left: 0 !important;
  }
  .mt-0 {
    margin-top: 0 !important;
  }
  .mb-0 {
    margin-bottom: 0 !important;
  }
  .mr-0 {
    margin-right: 0 !important;
  }
  .p-0 {
    padding: 0em;
  }
  .pl-0 {
    padding-left: 0 !important;
  }
  .pt-0 {
    padding-top: 0 !important;
  }
  .pb-0 {
    padding-bottom: 0 !important;
  }
  .pr-0 {
    padding-right: 0 !important;
  }
  .m-1 {
    margin: 1.5em;
  }
  .ml-1 {
    margin-left: 1.5em !important;
  }
  .mt-1 {
    margin-top: 1.5em !important;
  }
  .mb-1 {
    margin-bottom: 1.5em !important;
  }
  .mr-1 {
    margin-right: 1.5em !important;
  }
  .p-1 {
    padding: 1.5em;
  }
  .pl-1 {
    padding-left: 1.5em !important;
  }
  .pt-1 {
    padding-top: 1.5em !important;
  }
  .pb-1 {
    padding-bottom: 1.5em !important;
  }
  .pr-1 {
    padding-right: 1.5em !important;
  }
  .m-2 {
    margin: 3em;
  }
  .ml-2 {
    margin-left: 3em !important;
  }
  .mt-2 {
    margin-top: 3em !important;
  }
  .mb-2 {
    margin-bottom: 3em !important;
  }
  .mr-2 {
    margin-right: 3em !important;
  }
  .p-2 {
    padding: 3em;
  }
  .pl-2 {
    padding-left: 3em !important;
  }
  .pt-2 {
    padding-top: 3em !important;
  }
  .pb-2 {
    padding-bottom: 3em !important;
  }
  .pr-2 {
    padding-right: 3em !important;
  }
  .m-3 {
    margin: 4.5em;
  }
  .ml-3 {
    margin-left: 4.5em !important;
  }
  .mt-3 {
    margin-top: 4.5em !important;
  }
  .mb-3 {
    margin-bottom: 4.5em !important;
  }
  .mr-3 {
    margin-right: 4.5em !important;
  }
  .p-3 {
    padding: 4.5em;
  }
  .pl-3 {
    padding-left: 4.5em !important;
  }
  .pt-3 {
    padding-top: 4.5em !important;
  }
  .pb-3 {
    padding-bottom: 4.5em !important;
  }
  .pr-3 {
    padding-right: 4.5em !important;
  }
  .m-4 {
    margin: 6em;
  }
  .ml-4 {
    margin-left: 6em !important;
  }
  .mt-4 {
    margin-top: 6em !important;
  }
  .mb-4 {
    margin-bottom: 6em !important;
  }
  .mr-4 {
    margin-right: 6em !important;
  }
  .p-4 {
    padding: 6em;
  }
  .pl-4 {
    padding-left: 6em !important;
  }
  .pt-4 {
    padding-top: 6em !important;
  }
  .pb-4 {
    padding-bottom: 6em !important;
  }
  .pr-4 {
    padding-right: 6em !important;
  }
}

@media (min-width: 600px) and (max-width: 959px) {
  .m-0 {
    margin: 0em;
  }
  .ml-0 {
    margin-left: 0 !important;
  }
  .mt-0 {
    margin-top: 0 !important;
  }
  .mb-0 {
    margin-bottom: 0 !important;
  }
  .mr-0 {
    margin-right: 0 !important;
  }
  .p-0 {
    padding: 0em;
  }
  .pl-0 {
    padding-left: 0 !important;
  }
  .pt-0 {
    padding-top: 0 !important;
  }
  .pb-0 {
    padding-bottom: 0 !important;
  }
  .pr-0 {
    padding-right: 0 !important;
  }
  .m-1 {
    margin: 1.5em;
  }
  .ml-1 {
    margin-left: 1.5em !important;
  }
  .mt-1 {
    margin-top: 1.5em !important;
  }
  .mb-1 {
    margin-bottom: 1.5em !important;
  }
  .mr-1 {
    margin-right: 1.5em !important;
  }
  .p-1 {
    padding: 1.5em;
  }
  .pl-1 {
    padding-left: 1.5em !important;
  }
  .pt-1 {
    padding-top: 1.5em !important;
  }
  .pb-1 {
    padding-bottom: 1.5em !important;
  }
  .pr-1 {
    padding-right: 1.5em !important;
  }
  .m-2 {
    margin: 3em;
  }
  .ml-2 {
    margin-left: 3em !important;
  }
  .mt-2 {
    margin-top: 3em !important;
  }
  .mb-2 {
    margin-bottom: 3em !important;
  }
  .mr-2 {
    margin-right: 3em !important;
  }
  .p-2 {
    padding: 3em;
  }
  .pl-2 {
    padding-left: 3em !important;
  }
  .pt-2 {
    padding-top: 3em !important;
  }
  .pb-2 {
    padding-bottom: 3em !important;
  }
  .pr-2 {
    padding-right: 3em !important;
  }
  .m-3 {
    margin: 4.5em;
  }
  .ml-3 {
    margin-left: 4.5em !important;
  }
  .mt-3 {
    margin-top: 4.5em !important;
  }
  .mb-3 {
    margin-bottom: 4.5em !important;
  }
  .mr-3 {
    margin-right: 4.5em !important;
  }
  .p-3 {
    padding: 4.5em;
  }
  .pl-3 {
    padding-left: 4.5em !important;
  }
  .pt-3 {
    padding-top: 4.5em !important;
  }
  .pb-3 {
    padding-bottom: 4.5em !important;
  }
  .pr-3 {
    padding-right: 4.5em !important;
  }
  .m-4 {
    margin: 6em;
  }
  .ml-4 {
    margin-left: 6em !important;
  }
  .mt-4 {
    margin-top: 6em !important;
  }
  .mb-4 {
    margin-bottom: 6em !important;
  }
  .mr-4 {
    margin-right: 6em !important;
  }
  .p-4 {
    padding: 6em;
  }
  .pl-4 {
    padding-left: 6em !important;
  }
  .pt-4 {
    padding-top: 6em !important;
  }
  .pb-4 {
    padding-bottom: 6em !important;
  }
  .pr-4 {
    padding-right: 6em !important;
  }
}

@media (min-width: 0px) and (max-width: 599px) {
  .m-0 {
    margin: 0em;
  }
  .ml-0 {
    margin-left: 0 !important;
  }
  .mt-0 {
    margin-top: 0 !important;
  }
  .mb-0 {
    margin-bottom: 0 !important;
  }
  .mr-0 {
    margin-right: 0 !important;
  }
  .p-0 {
    padding: 0em;
  }
  .pl-0 {
    padding-left: 0 !important;
  }
  .pt-0 {
    padding-top: 0 !important;
  }
  .pb-0 {
    padding-bottom: 0 !important;
  }
  .pr-0 {
    padding-right: 0 !important;
  }
  .m-1 {
    margin: 1.5em;
  }
  .ml-1 {
    margin-left: 1.5em !important;
  }
  .mt-1 {
    margin-top: 1.5em !important;
  }
  .mb-1 {
    margin-bottom: 1.5em !important;
  }
  .mr-1 {
    margin-right: 1.5em !important;
  }
  .p-1 {
    padding: 1.5em;
  }
  .pl-1 {
    padding-left: 1.5em !important;
  }
  .pt-1 {
    padding-top: 1.5em !important;
  }
  .pb-1 {
    padding-bottom: 1.5em !important;
  }
  .pr-1 {
    padding-right: 1.5em !important;
  }
  .m-2 {
    margin: 3em;
  }
  .ml-2 {
    margin-left: 3em !important;
  }
  .mt-2 {
    margin-top: 3em !important;
  }
  .mb-2 {
    margin-bottom: 3em !important;
  }
  .mr-2 {
    margin-right: 3em !important;
  }
  .p-2 {
    padding: 3em;
  }
  .pl-2 {
    padding-left: 3em !important;
  }
  .pt-2 {
    padding-top: 3em !important;
  }
  .pb-2 {
    padding-bottom: 3em !important;
  }
  .pr-2 {
    padding-right: 3em !important;
  }
  .m-3 {
    margin: 4.5em;
  }
  .ml-3 {
    margin-left: 4.5em !important;
  }
  .mt-3 {
    margin-top: 4.5em !important;
  }
  .mb-3 {
    margin-bottom: 4.5em !important;
  }
  .mr-3 {
    margin-right: 4.5em !important;
  }
  .p-3 {
    padding: 4.5em;
  }
  .pl-3 {
    padding-left: 4.5em !important;
  }
  .pt-3 {
    padding-top: 4.5em !important;
  }
  .pb-3 {
    padding-bottom: 4.5em !important;
  }
  .pr-3 {
    padding-right: 4.5em !important;
  }
  .m-4 {
    margin: 6em;
  }
  .ml-4 {
    margin-left: 6em !important;
  }
  .mt-4 {
    margin-top: 6em !important;
  }
  .mb-4 {
    margin-bottom: 6em !important;
  }
  .mr-4 {
    margin-right: 6em !important;
  }
  .p-4 {
    padding: 6em;
  }
  .pl-4 {
    padding-left: 6em !important;
  }
  .pt-4 {
    padding-top: 6em !important;
  }
  .pb-4 {
    padding-bottom: 6em !important;
  }
  .pr-4 {
    padding-right: 6em !important;
  }
}
/*# sourceMappingURL=responsive.css.map */