<div fxLayout="column" class="bg-content" fxFill *ngIf="module">
    <div fxLayout="row" class="p-3 pb-0">
        <div fxFlex fxLayout="column">
            <h1 class="mat-h1 mb-0">{{ module.name }}</h1>
            <span>{{ module.description }}</span>
        </div>
        <div fxFlex="200px" fxLayoutAlign="end start">
            <button routerLink="/dashboard/modules" mat-button color="warn">List of modules</button>
        </div>   
    </div>
    <div fxLayoutAlign="center start" fxFlex="auto" class="p-3">
        <div fxFlex="100%" class="mat-elevation-z2 bg-white rounded-2" fxLayout="row" fxFill>
            <div 
                fxFlex.lg="250px" 
                fxFlex.md="200px" 
                fxFlex.sm="150px" 
                fxFlex.xs="hidden" 
                class="module-details p-2">
                <div class="module-thumb">

                </div>
                <p class="m-0">
                    <small>Author : {{ module.author }}</small>
                </p>
                <p class="m-0">
                    <small>Version : {{ module.version }}</small>
                </p>
                <p class="m-0">
                    <small>Licence : {{ module.licence || 'N/A' }}</small>
                </p>
            </div>
            <mat-divider [vertical]="true"></mat-divider>
            <div fxFlex fxLayout="column">
                <div fxLayout="row" style="background: #f9f9f9">
                    <ng-container *ngFor="let tab of tabs">
                        <div class="p-3 text-center cursor-pointer" (click)="toggleTab( tab )" [ngClass]="{ 'active-tab' : tab.active }" matRipple>{{ tab.label }}</div>
                        <mat-divider [vertical]="true"></mat-divider>
                    </ng-container>
                </div>
                <mat-divider></mat-divider>
                <div fxFlex="auto" style="overflow-y: auto"></div>
                <mat-divider></mat-divider>
                <div fxLayoutAlign="space-between center" class="p-2">
                    <button [disabled]="tendoo.modules.isLoading" (click)="toggleModule( 'disable' )" *ngIf="module.enabled" mat-button="">Disable</button>
                    <button [disabled]="tendoo.modules.isLoading" (click)="toggleModule( 'enable' )" *ngIf="! module.enabled" mat-button="">Enable</button>
                    <button [disabled]="tendoo.modules.isLoading" (click)="removeModule()" mat-button="">Remove</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div fxLayout="column" class="bg-content" fxLayoutAlign="center center" fxFill *ngIf="! module">
    <mat-spinner [diameter]="50"></mat-spinner>
</div>