@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 900;
    src: url(Titillium+Web_900_normal.eot); /* http://fonts.gstatic.com/s/titilliumweb/v8/NaPDcZTIAOhVxoMyOr9n_E7ffEDBGItzZw.eot */
    src: local('☺'),
        url(Titillium+Web_900_normal.eot?#iefix) format('embedded-opentype'), /* http://fonts.gstatic.com/s/titilliumweb/v8/NaPDcZTIAOhVxoMyOr9n_E7ffEDBGItzZw.eot */
        url(Titillium+Web_900_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/titilliumweb/v8/NaPDcZTIAOhVxoMyOr9n_E7ffEDBGItzYw.woff2 */
        url(Titillium+Web_900_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/titilliumweb/v8/NaPDcZTIAOhVxoMyOr9n_E7ffEDBGItzZQ.woff */
        url(Titillium+Web_900_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/titilliumweb/v8/NaPDcZTIAOhVxoMyOr9n_E7ffEDBGItzZpabuWI.ttf */
        url(Titillium+Web_900_normal.svg#Titillium+Web_900_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=NaPDcZTIAOhVxoMyOr9n_E7ffEDBGItzZA&skey=1834815bec1b8264&v=v8#TitilliumWeb */
}
@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 900;
    src: url(Titillium+Web_900_normal.eot); /* http://fonts.gstatic.com/s/titilliumweb/v8/NaPDcZTIAOhVxoMyOr9n_E7ffEDBGItzZw.eot */
    src: local('☺'),
        url(Titillium+Web_900_normal.eot?#iefix) format('embedded-opentype'), /* http://fonts.gstatic.com/s/titilliumweb/v8/NaPDcZTIAOhVxoMyOr9n_E7ffEDBGItzZw.eot */
        url(Titillium+Web_900_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/titilliumweb/v8/NaPDcZTIAOhVxoMyOr9n_E7ffEDBGItzYw.woff2 */
        url(Titillium+Web_900_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/titilliumweb/v8/NaPDcZTIAOhVxoMyOr9n_E7ffEDBGItzZQ.woff */
        url(Titillium+Web_900_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/titilliumweb/v8/NaPDcZTIAOhVxoMyOr9n_E7ffEDBGItzZpabuWI.ttf */
        url(Titillium+Web_900_normal.svg#Titillium+Web_900_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=NaPDcZTIAOhVxoMyOr9n_E7ffEDBGItzZA&skey=1834815bec1b8264&v=v8#TitilliumWeb */
}
