<div fxLayout="column" class="bg-content" fxFlex="100%" style="overflow-y:auto">
    <div *ngIf="!media" class="p-3" fxFlex fxLayout="column" fxLayoutAlign="center center">
        <mat-spinner [diameter]="50"></mat-spinner>
    </div>
    <div *ngIf="media" fxFlex="100%" fxLayout="column" style="background: #111" fxLayoutAlign="center center">
        <div fxFlex="60px" fxLayoutAlign="space-between center" class="p-1 toolbar">
            <div>
                <button routerLink="/dashboard/medias/page/1" mat-icon-button>
                    <mat-icon>keyboard_backspace</mat-icon>
                </button>
            </div>
            <div>
                <button mat-icon-button class="ml-1">
                    <mat-icon>crop</mat-icon>
                </button>
                <button mat-icon-button (click)="deleteMedia()" class="ml-1">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button class="ml-1">
                    <mat-icon>rotate_left</mat-icon>
                </button>
                <button mat-icon-button class="ml-1">
                    <mat-icon>rotate_right</mat-icon>
                </button>
            </div>
        </div>
        <div style="height: 100%; overflow-y: auto" fxLayoutAlign="center center">
            <img class="media-preview" *ngIf="[ 'jpeg', 'png', 'jpg', 'gif' ].includes( media.extension )" [src]="media.sizes.original" [alt]="media.name">
        </div>
    </div>
</div>