<div class="w-full h-full flex flex-col">
    <div class="absolute w-full left-0 top-0 z-50">
        <mat-progress-bar
            style="height: 1px"
            *ngIf="( state$ | async ).asyncLoading"            
            class="example-margin absolute"
            mode="indeterminate">
        </mat-progress-bar>
    </div>
    <div class="flex h-full w-full">
        <div 
            [debounce]="500" 
            (trigger)="handleHoverEvent( $event )"
            id="sidebar" [ngClass]="{ 
            'absolute shadow z-50' : ( state$ | async ).sidebarToggled, 
            'hidden' : ! ( state$ | async ).sidebarToggled,
            'w-64' : ! ( state$ | async ).sidebarCompressed,
            'w-16' : ( state$ | async ).sidebarCompressed
        }" class="lg:static lg:shadow-none h-full lg:flex lg:z-0 flex flex-col flex-shrink-0 bg-gray-200 p-2">
            <div class="logo flex pb-4 justify-center text-gray-800">
                <span *ngIf="! ( state$ | async ).sidebarCompressed" class="brookr-font text-2xl block h-12 flex items-center" style="margin: 0;">Brookr</span>
                <span *ngIf="( state$ | async ).sidebarCompressed" class="brookr-font text-2xl block rounded-full w-12 h-12 justify-center flex bg-gray-300 border border-gray-400 items-center" style="margin: 0;">B</span>
            </div>
            <div class="side-menu flex flex-auto flex-col text-gray-600 overflow-y-auto">
                <div>
                    <div [ngClass]="{ 'bg-gray-100 rounded shadow' : menu.toggled }" *ngFor="let menu of ( state$ | async ).dashboardMenus; let index = index" class="flex flex-col">
                        <ng-container *ngIf="menu.childrens !== undefined && menu.childrens.length > 0">
                            <div *ngIf="canSeeMenu( menu )" (click)="toggleMenu( menu, index )" class="h-10 flex hover:bg-gray-300 px-4 py-2 items-center cursor-pointer menu rounded overflow-hidden">
                                <div class="menu-icon w-5 h-5 pr-2 flex items-center justify-center">
                                    <mat-icon>{{ menu.icon }}</mat-icon>
                                </div>
                                <div *ngIf="! ( state$ | async ).sidebarCompressed" [ngClass]="! ( state$ | async ).sidebarCompressed ? 'justify-between' : 'justify-center'" class="menu-text pl-2 flex items-center flex-auto">
                                    <span class="text font-semibold font-sans">{{ menu.label }}</span>
                                    <span class="caret flex items-center justify-center" *ngIf="menu.childrens && menu.childrens.length > 0">
                                        <mat-icon *ngIf="menu.toggled">keyboard_arrow_up</mat-icon>
                                        <mat-icon *ngIf="! menu.toggled">keyboard_arrow_down</mat-icon>
                                    </span>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="( menu.childrens === undefined || menu.childrens.length === 0 )">
                            <a *ngIf="canSeeMenu( menu )" (click)="toggleSidebar()" [routerLink]="menu.path" class="h-10 flex hover:bg-gray-300 px-4 py-2 items-center cursor-pointer menu rounded overflow-hidden">
                                <div class="menu-icon w-5 h-5 pr-2 flex items-center justify-center">
                                    <mat-icon>{{ menu.icon }}</mat-icon>
                                </div>
                                <div *ngIf="! ( state$ | async ).sidebarCompressed" [ngClass]="! ( state$ | async ).sidebarCompressed ? 'justify-between' : 'justify-center'" class="menu-text pl-2 flex items-center flex-auto">
                                    <span class="text font-semibold font-sans">{{ menu.label }}</span>
                                    <span class="caret flex items-center justify-center" *ngIf="menu.childrens && menu.childrens.length > 0">
                                        <mat-icon>keyboard_arrow_down</mat-icon>
                                    </span>
                                </div>
                            </a>
                        </ng-container>
                        <ng-container *ngIf="menu.toggled">
                            <ng-container *ngFor="let childMenu of menu.childrens">
                                <a (click)="toggleSidebar()" [routerLink]="childMenu.path" *ngIf="canSeeMenu( childMenu )" class="cursor-pointer menu rounded overflow-hidden flex hover:bg-gray-300 px-4 py-2 items-center">
                                    <div class="menu-icon w-5 h-5 pr-2 flex items-center justify-center">
                                    </div>
                                    <div class="menu-text pl-2 flex items-center justify-between flex-auto">
                                        <span class="text font-semibold font-sans">{{ childMenu.label }}</span>
                                    </div>
                                </a>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="menu-footer text-gray-800">
                <button (click)="toggleMenuIcons()" class="w-12 h-12 flex justify-center items-center border border-gray-400 rounded-full">
                    <mat-icon *ngIf="( state$ | async ).sidebarCompressed">menu</mat-icon>
                    <mat-icon *ngIf="! ( state$ | async ).sidebarCompressed">menu_open</mat-icon>
                </button>
            </div>
        </div>
        <div *ngIf="( state$ | async ).sidebarToggled" (click)="toggleSidebar()" style="background: rgba(51, 51, 51, 0.3)" class="overlay absolute top-0 lg:hidden w-full h-full z-40 bg-gray-100"></div>
        <div *ngIf="( state$ | async ).notificationsToggled" (click)="toggleNotifications()" style="background: rgba(51, 51, 51, 0.3)" class="overlay absolute top-0 w-full h-full z-40 bg-gray-100"></div>
        <div id="container" class="flex-auto bg-gray-200 flex flex-col">
            <div id="tool-bar" class="h-16 flex-shrink-0 w-full flex items-center px-2 shadow lg:shadow-none">
                <div class="left-panel flex flex-auto">
                    <div>
                        <div (click)="toggleSidebar()" class="lg:hidden hover:shadow hover:bg-gray-100 hover:border-transparent border border-gray-400 cursor-pointer user-profile rounded-lg flex justify-between items-center p-2">
                            <mat-icon>menu</mat-icon>
                        </div>
                    </div>
                </div>
                <div class="right-panel flex -mx-1">
                    <div class="px-1">
                        <div (click)="toggleNotifications()" class="hover:shadow hover:bg-gray-100 hover:border-transparent border border-gray-400 cursor-pointer user-profile rounded-lg flex justify-between items-center p-2">
                            <mat-icon>notifications</mat-icon>
                            <span *ngIf="( state$ | async ).notifications.length > 0" class="flex justify-center items-center absolute shadow bg-red-700 text-white w-6 h-6 rounded-full" style="margin: -20px -20px;">{{ ( state$ | async ).notifications.length }}</span>
                        </div>
                    </div>
                    <div class="px-1">
                        <div (click)="menuToggled = !menuToggled" [ngClass]="menuToggled ? 'bg-gray-100 border border-gray-400' : 'border-gray-400'" class="hover:shadow hover:bg-gray-100 hover:border-transparent border cursor-pointer user-profile rounded-lg flex justify-between items-center p-2">
                            <span class="text-lg text-gray-700">Welcome</span>
                            <div class="h-6 w-6 ml-2 bg-gray-700 rounded overflow-hidden">
                                <img [attr.src]="user.avatar">
                            </div>
                        </div>
                        <div class="w-full h-0" *ngIf="menuToggled">
                            <div class="rounded-b border-b border-l border-r border-gray-400 flex-auto bg-gray-100 relative shadow-lg z-10" style="margin-top: -8px;padding-top: 8px;">
                                <ul>
                                    <li><a class="p-2 block hover:bg-gray-300 cursor-pointer text-gray-700 hover:text-gray-800 flex items-center" routerLink="/dashboard/profile"><div class="mr-2 flex items-center"><mat-icon>account_circle</mat-icon></div> <div><span class="block">Profil</span></div></a></li>
                                    <li><a class="p-2 block hover:bg-gray-300 cursor-pointer text-gray-700 hover:text-gray-800 flex items-center" routerLink="/auth/logout"><div class="mr-2 flex items-center"><mat-icon>exit_to_app</mat-icon></div> <div><span class="block">Logout</span></div></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content shadow-lg lg:rounded-tl-lg bg-white p-4 lg:pt-6 lg:pl-6 flex-auto overflow-y-auto">
                <ng-content></ng-content>
            </div>
        </div>
        <div *ngIf="( state$ | async ).notificationsToggled" id="notifications" class="absolute z-50 right-0 w-1/2 lg:w-1/4 flex-shrink-0 h-full bg-gray-200 ng-star-inserted flex flex-col">
            <div class="border-b border-gray-400 flex flex-col flex h-16">
                <div class="flex flex-shrink-0 justify-between items-center flex-auto px-2">
                    <span style="margin: 0" class="text-xl font-semibold">Notifications</span>
                    <div>
                        <div (click)="toggleNotifications()" class="border border-gray-400 cursor-pointer user-profile rounded-lg flex justify-between items-center p-2">
                            <mat-icon>close</mat-icon>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col flex-auto flex-wrap overflow-y-auto">
                <div class="h-full p-2 flex-shrink-0">
                    <div class="bg-white flex rounded shadow w-full p-2 mb-2" *ngFor="let notification of ( state$ | async ).notifications">
                        <div class="notification-body flex-auto pr-2">
                            <span class="text-lg text-gray-700 block mb-2">{{ notification.title }}</span>
                            <p class="text-gray-600">{{ notification.description }}</p>
                        </div>
                        <div class="controls justify-center">
                            <button (click)="closeNotification( notification )" class="rounded-full bg-red-600 text-white w-8 h-8 flex justify-center items-center shadow">
                                <mat-icon>close</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>