<div class="flex h-full w-full">
    <div id="sidebar" [ngClass]="{ 
        'absolute shadow z-50' : ( state$ | async ).sidebarToggled, 
        'hidden' : ! ( state$ | async ).sidebarToggled
    }" class="w-64 lg:static lg:shadow-none lg:block flex-shrink-0 h-full bg-gray-200 p-2">
        <div class="logo flex pb-4 justify-center">
            <h2 class="brookr-font text-4xl" style="margin: 0;">Brookr</h2>
        </div>
        <div class="side-menu flex flex-col text-gray-600">
            <div [ngClass]="{ 'bg-gray-100 rounded shadow' : menu.toggled }" *ngFor="let menu of ( state$ | async ).dashboardMenus; let index = index" class="flex flex-col">
                <ng-container *ngIf="menu.childrens !== undefined && menu.childrens.length > 0">
                    <div (click)="toggleMenu( menu, index )" class="flex hover:bg-gray-300 px-4 py-2 items-center cursor-pointer menu rounded overflow-hidden">
                        <div class="menu-icon w-5 h-5 pr-2 flex items-center justify-center">
                            <mat-icon>{{ menu.icon }}</mat-icon>
                        </div>
                        <div class="menu-text pl-2 flex items-center justify-between flex-auto">
                            <span class="text font-semibold font-sans">{{ menu.label }}</span>
                            <span class="caret flex items-center justify-center" *ngIf="menu.childrens && menu.childrens.length > 0">
                                <mat-icon *ngIf="menu.toggled">keyboard_arrow_up</mat-icon>
                                <mat-icon *ngIf="! menu.toggled">keyboard_arrow_down</mat-icon>
                            </span>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="menu.childrens === undefined || menu.childrens.length === 0">
                    <a (click)="toggleSidebar()" [routerLink]="menu.path" class="flex hover:bg-gray-300 px-4 py-2 items-center cursor-pointer menu rounded overflow-hidden">
                        <div class="menu-icon w-5 h-5 pr-2 flex items-center justify-center">
                            <mat-icon>{{ menu.icon }}</mat-icon>
                        </div>
                        <div class="menu-text pl-2 flex items-center justify-between flex-auto">
                            <span class="text font-semibold font-sans">{{ menu.label }}</span>
                            <span class="caret flex items-center justify-center" *ngIf="menu.childrens && menu.childrens.length > 0">
                                <mat-icon>keyboard_arrow_down</mat-icon>
                            </span>
                        </div>
                    </a>
                </ng-container>
                <ng-container *ngIf="menu.toggled">
                    <a (click)="toggleSidebar()" [routerLink]="childMenu.path" *ngFor="let childMenu of menu.childrens" class="cursor-pointer menu rounded overflow-hidden flex hover:bg-gray-300 px-4 py-2 items-center">
                        <div class="menu-icon w-5 h-5 pr-2 flex items-center justify-center">
                        </div>
                        <div class="menu-text pl-2 flex items-center justify-between flex-auto">
                            <span class="text font-semibold font-sans">{{ childMenu.label }}</span>
                        </div>
                    </a>
                </ng-container>
            </div>
        </div>
    </div>
    <div *ngIf="( state$ | async ).sidebarToggled" (click)="toggleSidebar()" style="background: rgba(51, 51, 51, 0.3)" class="overlay absolute top-0 lg:hidden w-full h-full z-40 bg-gray-100"></div>
    <div id="container" class="flex-auto bg-gray-200 flex flex-col">
        <div id="tool-bar" class="h-16 flex-shrink-0 w-full flex items-center px-2 shadow lg:shadow-none">
            <div class="left-panel flex flex-auto">
                <div>
                    <div (click)="toggleSidebar()" class="lg:hidden hover:shadow hover:bg-gray-100 hover:border-transparent border border-gray-400 cursor-pointer user-profile rounded-lg flex justify-between items-center p-2">
                        <mat-icon>menu</mat-icon>
                    </div>
                </div>
            </div>
            <div class="right-panel flex -mx-1">
                <div class="px-1">
                    <div class="hover:shadow hover:bg-gray-100 hover:border-transparent border border-gray-400 cursor-pointer user-profile rounded-lg flex justify-between items-center p-2">
                        <mat-icon>notifications</mat-icon>
                    </div>
                </div>
                <div class="px-1">
                    <div class="hover:shadow hover:bg-gray-100 hover:border-transparent border border-gray-400 cursor-pointer user-profile rounded-lg flex justify-between items-center p-2">
                        <span class="text-lg">Welcome</span>
                        <div class="h-6 w-6 ml-2 bg-gray-700 rounded"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content shadow-lg lg:rounded-tl-lg bg-white p-4 lg:pt-6 lg:pl-6 flex-auto overflow-y-auto">
            <ng-content></ng-content>
        </div>
    </div>
</div>