<div fxLayout="column" fxFlex="100%" fxLayoutAlign="center center" class="bg-content" style="overflow-y:auto" *ngIf="! tabs">
    <mat-spinner [diameter]="50"></mat-spinner>
</div>
<div fxLayout="column" fxFlex="100%" style="overflow-y:auto" *ngIf="tabs">
    <div fxLayout="row" fxFlex="0 0 auto" class="bg-content p-3 pb-0">
        <div fxFlex>
            <h1 class="mat-display-1 mb-0">Settings</h1>
            <span class="mat-title">configure how Tendoo CMS should be used</span>
        </div>
    </div>
    <div class="p-3 bg-content" fxFlex="1 0 auto" fxLayout="column">
        <mat-card class="p-0">
            <mat-card-content>
                <mat-tab-group [selectedIndex]="selectedIndex" (selectedIndexChange)="setTabActive($event)">
                    <mat-tab  *ngFor="let tab of tabs" [label]="tab.label">
                        <div class="p-3">
                            <form [formGroup]="tab.form">
                                <cb-field *ngFor="let field of tab.fields" [field]="field" [group]="tab.form"></cb-field>
                            </form>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-actions class="p-2 m-0">
                <button [disabled]="tendoo.forms.isLoading" mat-button (click)="saveSettings( activeTab )" color="primary">Save</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>