<div class="tab tab-container" *ngIf="form">
    <div class="tabs-header flex" style="margin-bottom: -2px;">
        <div (click)="selectThis( section )" [ngClass]="{
            'bg-gray-100' : section.active,
            'bg-gray-300' : ! section.active
        }" *ngFor="let section of renderable" class="tab px-4 py-2 border-2 border-b-0 rounded-t-lg cursor-pointer flex items-center justify center">
            {{ section.title }} 
            <span *ngIf="form.formGroup.errors !== null" class="inline-block ml-2 rounded-full flex justify-center items-center h-6 w-6 bg-red-700 text-white">5</span>
        </div>
    </div>
    <div class="bg-gray-100 border-2">
        <ng-container *ngFor="let section of form.sections">
            <div *ngIf="section.active" class="tabs-container">
                <div class="inner-content p-2">
                    <div class="-mx-2 flex flex-wrap">
                        <div class="px-2 w-full md:w-1/2" *ngFor="let field of section.fields">
                            <cb-field [field]="field" [group]="section.formGroup"></cb-field>
                        </div>
                    </div>
                </div>  
            </div>
        </ng-container>
        <div class="footer border-t p-2 flex">
            <div>
                <button (click)="submitForm()" class="rounded bg-green-200 text-green-600 text-center px-4 py-2 shadow border border-green-600 active:shadow-none">Save</button>
            </div>
        </div>
    </div>
</div>