<div fxLayout="column" fxFill>
    <div>
        <mat-toolbar color="primary" fxFlex fxLayoutAlign="space-between center">
            <div [fxFlex]="logoWidth + 'px'" fxLayout="row" 
                fxLayoutAlign.xl="center center"
                fxLayoutAlign.lg="center center"
                >
                <span *ngIf="showDefaultAside">Tendoo Server</span>
                <span *ngIf="! showDefaultAside">
                    <button mat-icon-button (click)="toggleDrawer()">
                        <mat-icon aria-label="Example icon-button with a heart icon">menu</mat-icon>
                    </button>
                </span>
            </div>
            <div>
                <button mat-icon-button [matMenuTriggerFor]="profileMenu">
                    <mat-icon aria-label="Example icon-button with a heart icon">person</mat-icon>
                </button>
                <mat-menu #profileMenu="matMenu">
                    <button routerLink="/dashboard/profile" mat-menu-item>Profile</button>
                    <button routerLink="/dashboard/profile/apps" mat-menu-item>My Applications</button>
                    <button routerLink="/auth/logout" mat-menu-item>Logout</button>
                </mat-menu>
            </div>
        </mat-toolbar>
    </div>
    
    <div fxFlex fxLayout="row" *ngIf="showDefaultAside">
        <ng-container>
            <div fxFlex="250px"  fxLayout="column" class="aside-menu">
                <div fxFlex>
                    <app-menu-list [menus]="asideMenus"></app-menu-list>
                </div>    
            </div>
            <mat-divider [vertical]="true"></mat-divider>
        </ng-container>
        <div fxFlex="1 1 auto" class="body-container" fxLayout="column">
            <router-outlet></router-outlet>
        </div>
    </div>
    <mat-drawer-container class="example-container" fxFlex fxLayout="row" *ngIf="! showDefaultAside">
        <mat-drawer fxFlex="250px" #drawer mode="over">
            <ng-container>
                <div fxFlex="250px"  fxLayout="column" class="aside-menu">
                    <div fxFlex>
                        <app-menu-list (navigate)="toggleDrawer( $event )" [menus]="asideMenus"></app-menu-list>
                    </div>    
                </div>
            </ng-container>
        </mat-drawer>
        <mat-drawer-content fxFlex="1 1 auto" class="body-container" fxLayout="column">
            <router-outlet></router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>
</div>