<div *ngIf="crud" class="bg-content" fxLayout="column" fxFlex="100%" style="overflow-y:auto">
    <div class="p-3 pb-0">
        <div >
            <h1 class="mat-h1 mb-0">{{ crud.labels.list_title }}</h1>
            <span>{{ crud.labels.list_description }}</span>
        </div>
    </div>
    <div class="p-3">
        <cb-table
            *ngIf="crud.results.data.length > 0"
            [crud]="crud"
            [is-loading]="isLoading"
            (page)="handlePage( $event )"
            (sort)="sortData( $event )"
            (delete)="deleteEntries( $event )"
            (action)="doAction( $event )"
            (search)="searh( $event )"
            (refresh)="handleRefresh( $event )"
        ></cb-table>
        <div *ngIf="crud.results.data.length === 0" fxFlex fxFill fxLayoutAlign="center center">
            <div fxFlex="400px">
                <p style="text-align: center">
                    {{ crud.labels.no_entry ? crud.labels.no_entry : 'Hum... it\'s quite empty here.' }}. <br>
                    <a [routerLink]="crud?.links.create">{{ crud.labels.create_new ? crud.labels.create_new : 'Create a new entry?' }}</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="bg-content"  *ngIf="! crud" fxFlex fxFill fxLayoutAlign="center center">
    <mat-spinner [diameter]="50"></mat-spinner>
</div>